<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
    <link rel='stylesheet' th:href="@{/css/demo.css}"/>
</head>
<body>
    <h3>Student Registration Form</h3>
    <form th:action="@{/thymeleaf/processstudentform}" th:object="${student}" method="POST">
        First Name: <input type="text" th:field="*{firstName}" />
        <br><br>
        Last Name: <input type="text" th:field="*{lastName}" />
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="country : ${countries}" th:value="${country}" th:text="${country}" />
        </select>
        <br><br>
        Favourite Programming Language:
        <input type="radio"
            th:field="*{programmingLanguage}"
            th:each="programmingLanguage : ${programminglanguages}"
            th:value="${programmingLanguage}"
            th:text="${programmingLanguage}" />
        <br><br>
        Favourite Operating Systems:
        <input type="checkbox" th:field="*{operatingSystem}" th:each="operatingSystem : ${operatingsystems}" th:value="${operatingSystem}" th:text="${operatingSystem}" />
        <br><br>
        Course Code: <input type="text" th:field="*{courseCode}"/>
        <!-- Add error message (if present) -->
        <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>
        <br><br>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
